*{
    margin:0;
    padding:0 ;
    box-sizing:border-box ;
}
body{
    width: 100%;
    background: #0c111b;
    position: relative;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    padding:0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}
.brand-logo{
    height: 70px;
}
.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    margin-left: 20px;;
    text-transform: capitalize;
    color: #fff;
    opacity: 0.9;
}
.right-container{
    display: block;
    margin-left: auto;

}
.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.search-box:focus{
    width: 400px;
    border-color: #1f80e0;
}
.sub-btn{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline:none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}
.login-link{
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(12,17,27);
    cursor: pointer;
}

.caraousel-container
{
    position: relative;
    width: 100%;
    height: 450px;
    /* padding: 20px 0px; */
    overflow-x: hidden;
    margin-top: 80px;
}
.caraousel{
   display: flex;
   width: 94%;
   height: 100%;
   position: relative;
   margin: auto;
}

.slider
{
    flex: 0 0 auto;
    margin-right: 30px ;
    position: relative;
    background: (0 ,0 , 0 , 0.5);
    border-radius: 5px;
    width: 100%;
    height:100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}
.slider img{
    position: relative;
    width: 70%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}
.slide-content
{
    position: absolute;
    width:50%;
    height:100%;
    z-index: 1; 
    background: linear-gradient(to right ,#030b17 62% ,#0c111b00 );
    color: #fff;
}
.movie-title
{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}
.movie-des
{
    width: 80%;
    line-height:30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8 ;
}
.video-card-container{
    position: relative;
    padding: 15px;
    display: flex;
    width: 92%;
    height: 10vw;
    margin-bottom: 10px;
    margin-left: 65px;
    justify-content: space-between;

}
.video-card{
    position: relative;
    width: 250px;
    height: 138px;
    overflow: hidden;
    /* margin:30px; */
    margin-top: 0px;
}
 .video-card-image{ 
    border-radius: 6px; 
    width: 100%; 
    height: 100%;
    /* background-color: #030b17; */
} 
.card-video 
{
    position: absolute;
    width: 100%;
    /* height: 98%; */
    z-index: -1;
    /* margin: 45px;
    margin-top: 20px;
    margin-left: 50px; */
    border-radius: 10px ;
    /* background: #030b17; */
} 

.video-card:hover .video-card-image{
    display: none;
}
.title{
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22PX;
    font-weight: 500;
}
.movie-list{
  width:100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;  
  /* margin-left: 30px; */
  /* display: flex; */
}
.card-container{
    position:relative;
    width: 94%;
    padding-left: 10px;
    height:220px;
    display:flex;
    margin: 0 auto;
    align-items:center;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}
.card-container::-webkit-scrollbar{
    display: none;
}
.card{
    position: relative;
    min-width:150px;
    width: 150px ;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
}
.card-img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.11);

}
.card:hover .card-body{
    opacity: 1;
}
.card-body{
    opacity: 0;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    background: linear-gradient(to bottom ,rcba(4,8,15,0),#192133 90% );
    padding: 10px;
    transition: 0.5s;
}
.name{
    color:#fff ;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}
.des{
   color: #fff;
   opacity: 0.8;
   margin: 5px 0;
   font-weight: 500;
   font-size: 12px; 
}
.watchlist-btn{
    position:relative; 
    width:100%;
    text-transform: capitalize;
    border:none;
    background: none;
    font-weight: 500;
    text-align: right;
    color:rgba(255,255,255,0.5);
    margin: 5px 0;
    cursor: pointer;
    padding :10px 5px;
    border-radius:5px;
}
.watchlist-btn::before
{
    content:' ';
    position: absolute;
    top:0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image:url(add.png);
    background-image: cover;
    transform: scale(0.4);
}
.watchlist-btn:hover{
    color: #fff;
    background: rgba(255,255,255,0.1);
}
.pre-btn ,.nxt-btn{
position:absolute;
top:0;
width:4%;
height: 100%;
z-index: 2;
border: none;
cursor: pointer;
outline: none;
}

.pre-btn{
    left: 0px;
    background: linear-gradient(to right ,#0c111b 0% ,#0c111b00);
}
.nxt-btn{
    right: 0px;
    background: linear-gradient(to left , #0c111b 0% ,#0c111b00);
}
.pre-btn img,
.nxt-btn img{
    width: 15px;
    height: 20px; 
    opacity: 0 ;
}

.pre-btn img:hover ,
.nxt-btn img:hover {
    opacity: 1;
}

.form-box{
    background:rgb(33,45,70);
    position: absolute;
    left :33%;
    top:15%;
    z-index: 2;
    display: none;
    width: 500px;
    height: 350px;   
    border-radius: 2px; 
}
.ghh1{
    background: rgb(33,45,70);
    padding: 10px;
    position: fixed;
    left :33%;
    top:15%;
    z-index: 9999;
    width: 500px;
    display: block;
    text-align: center;
    height: 350px;    
    border-radius: 5px;
}
.footer
{
    padding: 0px;
}

.footer .container{
    padding: 50px;
    width: 100%;
    background-color: #0c111b;

}
ul
{
    list-style: none;
}
.row 
{
    display: flex;
    flex-wrap: wrap;
}
.col
{
    width:24%;
    padding: 0 85px;
}
.col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 12px;
    position: relative;
    font-weight: 400;
    color: white;
}
.col h4::before
{
    z-index: 999;
    content:'';
    position: absolute;
    left: 0px;
    bottom: -2px;
    background-color: white;
    height: 3px;
    width: 50%;
    box-sizing: border-box;
}
.col ul li 
{
    margin-bottom: 5px;
}
.col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #aaa;
    display: block;
    font-weight: 300;
}
.col ul li a:hover
{
    padding-left: 5px;
}






